<template>
  <div class="Categary">分类参数</div>
</template>
<script lang="ts">
import { Vue } from "vue-property-decorator";
import Component from "vue-class-component";
@Component({
  name: "Categary",
  components: {}
})
export default class Categary extends Vue {}
</script>
<style lang="scss">
.Categary {
}
</style>