<template>
  <div class="Order">订单列表</div>
</template>
<script lang="ts">
import { Vue } from "vue-property-decorator";
import Component from "vue-class-component";
@Component({
  name: "Order",
  components: {}
})
export default class Order extends Vue {}
</script>
<style lang="scss">
.Order {
}
</style>